services:
  machine-a:
    build: ./machine-a
    hostname: machine-a
    container_name: machine-a
    cap_add:
      - NET_ADMIN
    networks:
      security_net:
        # Wir ändern die IP passend zum neuen Subnetz unten
        ipv4_address: 10.10.10.10

  machine-b:
    build: ./machine-b
    hostname: machine-b
    container_name: machine-b
    cap_add:
      - NET_ADMIN
    networks:
      security_net:
        # Wir ändern die IP passend zum neuen Subnetz unten
        ipv4_address: 10.10.10.20
    volumes:
      - ./captures:/captures

networks:
  security_net:
    driver: bridge
    ipam:
      config:
        # Hier ändern wir das Subnetz auf etwas, das sicher frei ist
        - subnet: 10.10.10.0/24
