services:

# Definition f端r Maschine A (Server/Opfer)
  machine-a-server:
    build: ./machine-a
    hostname: machine-a
    container_name: machine-a-server
    cap_add:
      - NET_ADMIN
    networks:
      security_net:
        # Statische IP-Adresse f端r Maschine A
        ipv4_address: 10.10.10.10

# Definition f端r Maschine B (Client/Angreifer)
  machine-b-client:
    build: ./machine-b
    hostname: machine-b
    container_name: machine-b-client
    cap_add:
      - NET_ADMIN
    networks:
      security_net:
        # Statische IP-Adresse f端r Maschine B
        ipv4_address: 10.10.10.20
    volumes:
      - ./captures:/captures

# Gemeinsames Netzwerk mit festgelegtem Subnetz
networks:
  security_net:
    driver: bridge
    # Subnetzdefinition um IP-Adressen festzulegen
    ipam:
      config:
        - subnet: 10.10.10.0/24
